:root{
    --text-color: #333;
    --link-color: #4a76ee;
    --background-color: #eeeff1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;;
    background-color: var(--background-color);
    height: 100%;
    scroll-snap-type: y mandatory;
}

a{
    columns: var(--text-color);
    text-decoration: none;
}

.left a{
    font-size: 60px;
}

/* NAVBAR */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #e0085b; 
    z-index: 1000;
    padding: 30px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .right {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    flex: 1;
}

nav .right a {
    color: white;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 5px 10px;
}

nav .right a i {
    margin-right: 8px;
}

nav .right a:hover {
    color: #3498db;                    
}


nav .right a::after {
    content: '';                         
    position: absolute;                  
    left: 0;                             
    bottom: 0;                           
    width: 100%;                         
    height: 2px;                         
    background-color: #3498db;           
    transform: scaleX(0);                
    transform-origin: bottom right;      
    transition: transform 0.3s ease;    
}


nav .right a:hover::after {
    transform: scaleX(1);                
    transform-origin: bottom left;      
}


nav .right a.download-cv {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #2a9df4;
    border-radius: 5px;
    background-color: #2a9df4;
    color: white;
    font-weight: 700;
    font-size: 17px; 
    text-align: center;
    margin-top: 2px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

nav .right a.download-cv:hover {
    background-color: var(--text-color);
    color: white;
    border-color: var(--text-color);
}


nav .left a {
    color: rgb(255, 255, 255); 
    text-decoration: none;
    font-size: 50px; 
    font-weight: bold;
    letter-spacing: 2px; 
    text-transform: uppercase; 
    position: relative;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 3px rgba(248, 226, 226, 0.3);
    background: linear-gradient(145deg, #f1e5e5, white); 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

nav .left a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    transform: rotateX(15deg) rotateY(10deg);
    z-index: -1;
}

nav .left a:hover {
    transform: translateY(-10px) rotateX(5deg) rotateY(5deg); 
    box-shadow: 10px 10px 15px rgba(236, 226, 226, 0.3), -10px -10px 20px rgba(243, 226, 226, 0.3); 
}

body{
    padding-top: 120px;
}

nav .hamburger,
nav .close-menu {
    display: none;
}

nav .hamburger {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Show close menu button */
nav .close-menu {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/*HOME*/

.home-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f0f0f0;
}

.home-section .text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
}

.home-section .text h1{
    font-size: 50px;
}


.home-section .text h3{
font-weight: 600;
}


.home-section .text .devops {
    font-weight: bold;
    font-size: 28px;
    color: #e0085b;
    display: inline-block;
    width: 0; 
    white-space: nowrap; 
    overflow: hidden; 
    border-right: 3px solid #e0085b; 
    animation: typing 5s steps(28) infinite, blinkCaret 0.75s step-end infinite 8s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes blinkCaret {
    50% {
        border-color: transparent;
    }
    100% {
        border-color: #e0085b;
    }
}
 
.home-section .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    color: #333;
}

.home-section .text .wordicons {
    display: flex;
    margin-top: 25px; 
    align-items: flex-start; 
}

.home-section .text .wordicons i {
    color: var(--text-color);
}


.home-section .text .wordicons a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #e0085b;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 1s;
}


.home-section .text .wordicons a:hover {
    color: var(--link-color);
    border: 2px solid #2a9df4;
    background-color: #2a9df4;
}

.home-section .picture{
    flex: 1;
    text-align: right;
    position: relative;
}

.home-section .picture img {
    width: 50%;  
    height: 50%; 
    border-radius: 50%; 
    border: 5px solid #e0085b;
    object-fit: cover; 
    box-shadow: 0 4px 8px #e0085b;
    transition: transform 0.3s ease, box-shadow 0.3s ease-in-out; 
    position: relative;
    left: -1in;
    animation: zoom 5s infinite alternate ease-in-out
}


.home-section .picture img:hover {
    transform: scale(1.1); 
    box-shadow: 0 2px 10px #e0085b; 
}

@keyframes zoom {
    0% {
        transform: scale(1); 
    }
    50% {
        transform: scale(1.2); 
    }
    100% {
        transform: scale(1); 
    }
}

 /* ABOUT SECTION */
 
 .about-section {
    background-color: #ffffff;
    align-items: center;
    height: 100vh;
    padding-top: 30px;
}

.about-section h2 {
    font-size: 35px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.about-section .aboutme .information h3{
    color: #333;
    padding-bottom: 20px;
}

.about-section .text p{
    margin-left: 10%;
    margin-right: 10%;
    color: #333;
}

.aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.aboutme .information {
    text-align: center;
   
}


.aboutme .information img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 5px solid #3498db;  
    position: relative;
    animation: rotate-border 5s infinite linear;
}


@keyframes rotate-border {
    0% {
        transform: rotate(0deg); 
        border-color: #3498db;   
    }
    50% {
        transform: rotate(180deg); 
        border-color: #e0085b;    
    }
    100% {
        transform: rotate(360deg); 
        border-color: #3498db;     /
    }
}


/* Education Section */
.text h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    padding-top: 40px;
}


.education{
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

/* Education Items (Cards) */
.education-item {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 300px; 
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px #e0085b;
    text-align: center;
}

.education-item h4 {
    font-size: 20px;
    color: #333;
    margin-bottom: 15px;
}

.education-item p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}


.education-item:hover {
    border-color: #e0085b; 
    box-shadow: 0 8px 16px rgba(255, 105, 180, 0.6);
    transform: translateY(-5px);
}


/*SKILLS*/

.Myskills-section{
    background-color: #e1e7eb;
    text-align: center;
    height: 100vh;
    
}

.Myskills-section h2{
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    padding-top: 50px;
}

.Myskills-section .text{
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding-top: 5%;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
    padding-top: 150px;
}

.skills-category {
    width: 45%; 
    margin-bottom: 20px;
    padding-top: 10px;
}

.skills-category h3 {
    font-size: 30px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.skills-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.skill-icon {
    text-align: center;
    max-width: 80px; 
    flex-basis: 20%;
}

.skill-icon i{
    font-size: 50px;
    margin-bottom: 10px;

}

.skill-icon p {
    font-size: 14px;
    color: #555;
    text-align: center;
}

/*CONTACT*/

.reach-section{
    display: grid;
    background-color: #f3f8fc;
}

.reach-section h2{
    font-size: 35px;
    text-align: center;
    padding-top: 50px;
}

.reach-section .mycontact{
    display: grid;
    gap: 50px;
}

.reach-section .mycontact .text {
    flex: 2;
    margin-top: 15px;
    text-align: center;
    padding-right: 0; 
    padding-bottom: 70px;
}

.popup {
    display: none; 
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    justify-content: center; 
    align-items: center; 
    margin: auto auto auto auto;
}


.popup-content {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px; 
    max-width: 400px; 
    width: 100%; 
    text-align: center; 
    justify-content: center;
}


.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.mycontact a{
    color: var(--link-color);
}


.popup-content h2{
    color: var(--text-color);
 }

 p{
    color: #333;
 }

 /*FORM*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.MyForm {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px; 
    width: 100%;
    max-width: 500px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.MyForm label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}


.MyForm input[type="text"],
.MyForm input[type="email"],
.MyForm textarea {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 16px; 
    color: #333; 
    background-color: #f9f9f9; 
}


.MyForm input:focus,
.MyForm textarea:focus {
    border-color: #e0085b; 
    outline: none;
    background-color: #fff; 
}


.MyForm button {
    background-color: #e0085b; 
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px; 
    font-size: 16px;
    cursor: pointer;
    width: 100%; 
    transition: background-color 0.3s ease;
}


.MyForm button:hover {
    background-color: #e0085b; 
}



/*FOOTER*/


footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer-content p {
    margin: 0;
}

.social-links a {
    margin: 0 10px;
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.social-links a:hover {
    color:  #2a9df4;
}

@media (max-width: 768px) {
    
    nav .right {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    #hamburger {
        display: block;
    }


    #closeMenu {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
    }


    nav .right a {
        padding: 15px;
        width: 100%;
        text-align: left;
    }

    
    .main-content {
        padding: 15px;
    }
}


@media (min-width: 769px) {
    nav .right {
        display: flex;
    }

    
    #hamburger, #closeMenu {
        display: none;
    }

    
    .main-content {
        padding: 30px;
    }
}



